################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KeyVaultExample/v15
/.vs/config
/KeyVaultExample/bin/Debug/netcoreapp2.2
/KeyVaultExample/obj
/KeyVaultExample.Service/bin/Debug/netcoreapp2.2
/KeyVaultExample.Service/obj
